body {
  background-color: #00d9ff;
}

#welcome-message {
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
	color: white;
	font-size: 45px;
	font-family: Cursive;
}

#sign_in {
	display: inline;
	float: right;
	z-index: 1;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 22px;
}

#sign_in a {
	padding-left: 5px; 
	border-left: 1px solid white;
}

#sign_in a:hover {
	text-decoration: none;
	color: red;
}

#sign_in a:visited {
	color: none;
}

#sign_in .sign_out {
	margin-top: -5px;
	margin-right: 5px;
	padding-left: 35px;
}

ul li a:hover {
	text-decoration: none;
	color: red;
}

#peep-form {
	height: 100px;
	width: 250px;
	margin-top: 50px;
	margin-left: 40px;
	clear: both;
}

#peep-welcome {
	color: white;
	font-family: Cursive;
}

form {
/*	background:#fff;*/
	padding:0.4em;
/*	border:1px solid #eee;*/
	margin:0.3em;
	width:10em;
}

#peep-box {
	color: white;
}

li {
	color: white;
}

#peeps {
	height: 100px;
	width: 250px;
	background-color: blue;
	border-radius: 10%;
	margin-left: 1em;
	color: white;
}





