body {
  background-color: #00d9ff;
}

header { 
	margin-top: 1%;
	background-color: black;
	margin-top: 0%;
	padding-top: 1%;
}

#welcome {
	margin-top: 10px;
	margin-left: 20px;
	display: inline;
}

#welcome-message {
	color: white;
	font-size: 45px;
	font-family: Cursive;
}

#sign_in {
	display: inline;
	margin-left: 75%;
	margin-bottom: 95%;
	font-size: 22px;
}

#sign_in a {
	padding-left: 5px; 
	border-left: 1px solid white;
}

#sign_in a:hover {
	text-decoration: none;
	color: red;
}

#sign_in a:visited {
	color: none;
}

#sign_in .sign_out {
	margin-top: -5px;
	margin-right: 5px;
	padding-left: 35px;
}

ul li a:hover {
	text-decoration: none;
	color: red;
}

#peep-form {
	position: relative;
	height: 100px;
	width: 250px;
	left: 75px;
	clear: both;
}

#peep-header {
	color: white;
	font-family: Cursive;
}

form {
	padding:0.4em;
	margin:0.3em;
	width:2em;
}

#peep-box {
	position: relative;
	color: white;
	display: block;
	top: 25px;
	clear: both;
	margin-left: 30%;
}

li {
	color: white;
	padding: 5px;
}

li:nth-child(2) {
	color: red;
}

#peeps {
	height: auto;
	width: 250px;
	background-color: blue;
	text-align: center;
	border-radius: 15%;
	margin-left: 2em;
	margin-bottom: 5px;
	color: white;
}





