<!DOCTYPE html>

<html>

<head>
	<title> Log in :) </title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/css_reset.css"> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/chitter.css">  
</head>

<header>

	<h1 id="peep-header"> Sign in to Peep away! </h1>

</header>

<body>

	<form action="/sessions" method="post">
		Email: <input type="text" name="email">
		Password: <input type="password" name="password">
		<input type="submit" value="Sign In">
	</form>	

	<% if flash[:errors] && !flash[:errors].empty? %>
		Sorry, there were the following problems with the form;
			<ul id="errors">
				<% flash[:errors].each do |error| %>
					<li> <%= error %> </li>
				<% end %>
			</ul>
	<% end %>	

</body>

</html>
