<head>
		<title>Goodbye!</title>
  	<link rel="stylesheet" type="text/css" href="../stylesheets/chitter.css">  
  	<meta http-equiv="refresh" content="2; /" />
</head>

<body>

			"See you soon!"

</body>